{% extends 'base_generic.html' %}

{% block content %}
    <div class="container">
        <h1 class="my-4">Rents</h1>
        <a href="{% url 'rent_create' %}" class="btn btn-primary mb-3">Add New Rent</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Room No</th>
                    <th>Amount</th>
                    <th>Rent Month</th>
                    <th>Paid Date</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for rent in rents %}
                    <tr>
                        <td>{{ rent.user.username }}</td>
                        <td>{{ rent.room_no.room_no }}</td>
                        <td>{{ rent.amount }}</td>
                        <td>{{ rent.rent_month }}</td>
                        <td>{{ rent.paid_date }}</td>
                        <td class="d-flex justify-content-center">
                            <a href="{% url 'rent_update' rent.pk %}" class="btn btn-warning mx-2">Edit</a>
                            <a href="{% url 'rent_delete' rent.pk %}" class="btn btn-danger mx-2">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
